/* src/components/CreditReports.css */

.credit-reports-container {
  padding: 20px;
}

.credit-reports-title {
  text-align: center;
  margin-bottom: 20px;
}

.report-date {
  text-align: center;
  margin-bottom: 20px;
}

.get-report-button,
.download-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.alert-container {
  margin-top: 20px;
}

.school-year-period {
  margin-top: 20px;
  margin-bottom: 20px;
}

.credit-reports-table th,
.credit-reports-table td {
  text-align: center;
  vertical-align: middle;
}

/* Highlight for 7th Column */

.highlight-column-7 {
  background-color: #f0f8ff !important;
  /* AliceBlue */
}

/* Highlight for 9th Column */

.highlight-column-9 {
  background-color: #ffe4e1 !important;
  /* MistyRose */
}
